.aboutUs {
  max-width: 128rem;
  margin-top: 4.8rem;
  height: 45rem;
  border-radius: 10px;
  background-image: url("../../assets/about/desktop/image-hero-whitecup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: $color-grey;

  @include respond(tablet) {
    max-width: 68.9rem;
    background-image: url("../../assets/about/tablet/image-hero-whitecup.jpg");
    height: 40rem;
  }
  @include respond(mobile) {
    max-width: 32.7rem;
    background-image: url("../../assets/about/mobile/image-hero-whitecup.jpg");
  }

  .text {
    display: flex;
    margin-left: 8.5rem;
    flex-direction: column;
    gap: 2.4rem;
    max-width: 44.5rem;

    @include respond(tablet) {
      margin-left: 5.8rem;
    }

    @include respond(mobile) {
      text-align: center;
      margin: 0 2.4rem;
    }  

    > h1 {
      margin: 0;
      font-weight: 900;
      line-height: 48px;
      font-size: $font-2xl;
      font-family: $font-fraunces;
      color: $color-light-cream;
      margin-top: 13.7rem;

      @include respond(tablet) {
        font-size: $font-3xl;
        margin-top: 11.8rem;
      }

      @include respond(mobile) {
        font-size: 28px;
        margin-top: 11rem;
      }
    }

    > p {
      @include paragrath();
      color: $color-light-cream;
      line-height: 26px;

      @include respond(tablet) {
        font-size: 15px;
        opacity: 0.8;
      }
    }
  }
}

@include respond(tablet) {
}
