header {
  width: 100%;
  margin-top: 9rem;

  .menu {
    @include flex-center();
    justify-content: space-between;

    a {
       text-decoration-line: none; 
       color: $color-grey;
    }

    &__menu-items {
      @include flex-center();
      gap: 3.3rem;
      font-size: $font-sm;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 15px;
      letter-spacing: 0.923px;
    }
  }
}
